body {
  padding: 0;
  margin: 0;
  color: #1d1c1b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Cera Pro";
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preloader svg {
  width: 140px;
}

.preloader h3 {
  margin-top: 40px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 42px;
}

.preloader .progress {
  width: 100px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto 15px auto;
}

.preloader .progress span {
  display: block;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.container {
  max-width: 1380px;
}

.image_container {
  visibility: hidden;
  position: relative;
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ivy Mode";
  color: #e974ae;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  font-family: "Ivy Mode";
  color: #149a9a;
  font-style: normal;
}

.active a {
  color: #e974ae !important;
}

h1 {
  font-size: 62px;
  line-height: 1.05;
}

h3 {
  font-size: 54px;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: 300;
}

a:hover,
a:focus {
  text-decoration: none;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 9;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header.sticky {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.19);
  padding: 3px 0;
}

header.sticky .logo img {
  max-width: 202px;
}

header.sticky .nav_menu a,
header.sticky .nav_menu p {
  color: #1d1c1b;
}

header.sticky .nav_menu ul li.active a {
  color: #e974ae !important;
}

header.sticky .nav_menu ul li.nav_btn a {
  background: #e974ae;
}

header.sticky .nav_menu ul li.nav_btn a:hover {
  border: 1px solid #e974ae;
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  text-align: center;
}

header .logo img {
  width: 100%;
  max-width: 232px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav_menu.menu_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .nav_menu a,
header .nav_menu p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}

header .nav_menu a p,
header .nav_menu p p {
  line-height: 1;
  margin-bottom: 0;
}

header .nav_menu a:hover,
header .nav_menu p:hover {
  color: #e974ae;
}

header .nav_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav_menu ul li {
  margin: 0 25px;
}

header .nav_menu ul li.nav_btn a {
  background: transparent;
  border: 1px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 250px;
  height: 48px;
  border-radius: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav_menu ul li.nav_btn a ion-icon {
  margin-right: 10px;
}

header .nav_menu ul li.nav_btn a:hover {
  background: transparent;
  color: #e974ae;
}

header .nav_menu ul li:first-child {
  margin-left: 0;
}

header .nav_menu ul li:last-child {
  margin-right: 0;
}

.page_banner {
  background-position: center !important;
  background-size: cover !important;
}

.page_banner.blog_banner {
  height: 60vh;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.banner.video_banner video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .banner_slider {
  width: 100%;
  height: 100vh;
}

.banner .img {
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}

.banner .text_wrap {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 550px;
  width: 100%;
  z-index: 2;
  text-align: center;
}

.banner .text_wrap p {
  text-transform: uppercase;
}

.banner .text_wrap h1 {
  font-size: 62px;
  color: #fff;
  line-height: 1.15;
  margin-bottom: 10px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.banner .text_wrap h1 em {
  color: #fff;
  font-weight: normal;
}

.banner .text_wrap p {
  margin-top: 30px;
  color: #fff;
}

.banner .text_wrap a {
  background-color: #e974ae;
  color: #fff;
  padding: 18px 35px;
  border-radius: 30px;
  display: inline-block;
  margin-top: 20px;
}

.intro {
  padding: 150px 0;
}

.intro .img_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 70px;
}

.intro .img_wrapper .img2 {
  padding-top: 150px;
}

.intro .img_wrapper img {
  width: 100%;
}

.intro .intro_text {
  padding-left: 50px;
}

.intro .intro_text h3 {
  margin-bottom: 20px;
}

.div_anim {
  background-color: #f9f3ec9e;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 150px 0;
}

.div_anim h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
  width: 450px;
  font-size: 62px;
}

.treatments {
  background: transparent;
  background-size: cover !important;
  background-position: center !important;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.treatments .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 650px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.treatments .options:hover .act_bg_img {
  opacity: 0;
}

.treatments .options:hover .option_for::after {
  opacity: 0;
}

.treatments .options .option_for {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.treatments .options .option_for#option_for_male::after {
  background: #149a9a;
}

.treatments .options .option_for .act_bg_img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.treatments .options .option_for:hover {
  cursor: pointer;
}

.treatments .options .option_for:hover::after {
  opacity: 0.5;
}

.treatments .options .option_for:hover h3 {
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.treatments .options .option_for:hover h5 {
  height: 20px;
  overflow: visible;
}

.treatments .options .option_for::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: #e974ae;
  opacity: 0.5;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.treatments .options .option_for h3 {
  font-size: 62px;
  font-family: "Ivy Mode";
  font-weight: 600;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.treatments .options .option_for h5 {
  color: #fff;
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: "Cera Pro";
  font-weight: 300;
  text-transform: uppercase;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

section.products {
  background: #fff;
  padding: 150px 0;
}

section.products .product_head {
  padding-right: 40px;
}

section.products .swiper-slide {
  text-align: center;
  background-color: #f9f3ec9e;
  padding: 50px 0;
}

section.products .swiper-slide:hover a {
  color: inherit;
}

section.products .swiper-slide:hover .detail label {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section.products .swiper-slide img {
  width: 100%;
  height: 342px;
  -o-object-fit: contain;
     object-fit: contain;
}

section.products .swiper-slide .detail {
  margin-top: 40px;
  padding: 0 20px;
}

section.products .swiper-slide .detail p {
  text-transform: uppercase;
}

section.products .swiper-slide .detail label {
  text-transform: uppercase;
  padding-top: 20px;
  color: #149a9a;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
}

.experiments {
  position: relative;
  padding: 150px 0;
}

.experiments::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0%;
  width: 55%;
  height: 100%;
  background: #e974ae;
  z-index: 1;
}

.experiments .exp_img {
  position: relative;
  z-index: 2;
}

.experiments .exp_img img {
  width: 100%;
}

.experiments .exp_text {
  position: relative;
  padding-left: 80px;
  z-index: 2;
}

.experiments .exp_text h3 {
  color: #fff;
  margin-bottom: 30px;
}

.experiments .exp_text p {
  color: #fff;
}

footer {
  background: #f9f3ec9e;
  padding: 150px 0 20px;
}

footer .footer_img img {
  width: 230px;
}

footer .newsletter {
  margin-top: 75px;
  position: relative;
  display: inline-block;
}

footer .newsletter input {
  background: transparent;
  border: 1px solid #e974ae;
  width: 500px;
  max-width: 90%;
  padding: 10px 20px;
  font-family: "Cera Pro";
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  border-radius: 40px;
  height: 52px;
}

footer .newsletter button {
  background: #e974ae;
  border: 1px solid #e974ae;
  height: 54px;
  width: 120px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  border-radius: 40px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

footer .locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .locations .loc_card {
  width: 48%;
}

footer .locations .loc_card h4 {
  margin-bottom: 30px;
  color: #403e3b;
  font-size: 24px;
  font-weight: 600;
}

footer .locations .loc_card label {
  text-transform: uppercase;
  opacity: 0.6;
}

footer .socail_links {
  margin-top: 50px;
}

footer .socail_links a {
  margin-right: 20px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #e974ae;
  color: #e974ae;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .socail_links a:hover {
  color: #fff;
  background-color: #e974ae;
  border: 1px solid #e974ae;
}

footer .footer_bottom {
  margin-top: 80px;
  border-top: 1px solid #cdcdcd;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_bottom p {
  font-size: 14px;
}

footer .footer_bottom .goto_top {
  position: relative;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -5px;
}

footer .footer_bottom .goto_top:hover::before {
  background: #e974ae;
  border: 1px solid #e974ae;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

footer .footer_bottom .goto_top:hover a {
  color: #fff;
  opacity: 1;
}

footer .footer_bottom .goto_top a {
  opacity: 0.5;
  position: relative;
}

footer .footer_bottom .goto_top::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #cdcdcd;
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.blogs {
  padding: 100px 0;
}

.blogs .blog_head {
  margin-bottom: 50px;
}

.blogs .row {
  margin-left: -25px;
  margin-right: -25px;
}

.blogs .blog_card {
  padding: 0 15px;
  position: relative;
}

.blogs .blog_card::after {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background: #e974ae;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.blogs .blog_card:hover::after {
  width: 95%;
}

.blogs .blog_card a:hover {
  color: #e974ae;
}

.blogs .blog_card a:hover .blog_text p img {
  width: 60px;
  opacity: 1;
}

.blogs .blog_card .image_container img {
  width: 100%;
  height: 375px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .blog_card .blog_text {
  margin-top: 40px;
  padding-right: 30px;
}

.blogs .blog_card .blog_text h5 {
  color: #1d1c1b;
  font-family: "Cera Pro";
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  font-weight: 300;
}

.blogs .blog_card .blog_text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  color: #e974ae;
}

.blogs .blog_card .blog_text p img {
  width: 0px;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-right: 15px;
  height: 32px;
}

.clients {
  background: #149a9a;
  padding: 100px 0;
  margin: 80px 0;
  position: relative;
}

.clients::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../images/client_bg.svg);
  background-position: center !important;
  background-size: cover !important;
  opacity: 0.3;
}

.clients .client_head h3 {
  color: #fff;
  max-width: 100%;
  width: 480px;
}

.clients .clients_slider {
  padding: 50px;
}

.clients .clients_slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.clients .clients_slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.clients .clients_slider .swiper-slide .img {
  width: 50%;
}

.clients .clients_slider .swiper-slide .img img {
  width: 90%;
}

.clients .clients_slider .swiper-slide .text {
  width: 50%;
  color: #fff;
}

.clients .clients_slider .swiper-slide .text h4 {
  color: #fff;
  margin-top: 30px;
}

.clients .clients_slider .swiper-button-prev {
  left: 100px;
}

.clients .clients_slider .swiper-button-prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.clients .clients_slider .swiper-button-next {
  right: 100px;
}

.clients .clients_slider .swiper-button-next img,
.clients .clients_slider .swiper-button-prev img {
  width: 70px;
  height: 60px;
}

.clients .clients_slider .swiper-button-next::after,
.clients .clients_slider .swiper-button-prev::after {
  display: none;
}

.clients .clients_slider .swiper-pagination-fraction {
  bottom: 0px;
  color: #fff;
}

.clients .clients_slider .swiper-pagination-fraction span {
  color: #fff;
}

.home_click {
  position: relative;
  z-index: 9;
  display: none;
}

.home_click .close_btn {
  position: absolute;
  z-index: 9;
  top: 20px;
  right: 100px;
  cursor: pointer;
}

.home_click .close_btn i {
  color: #fff;
  font-size: 32px;
}

.home_click.show {
  display: block;
}

.home_click .content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.home_click .content .text_container {
  padding-top: 50px;
  position: relative;
  z-index: 5;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  max-width: 750px;
  overflow-x: hidden;
}

.home_click .content .text_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(240, 240, 240, 0.3);
          box-shadow: inset 0 0 6px rgba(240, 240, 240, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.home_click .content .text_container::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.home_click .content .text_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(240, 240, 240, 0.3);
          box-shadow: inset 0 0 6px rgba(240, 240, 240, 0.3);
  background-color: #e974ae;
}

.home_click .content .text_container h3 {
  color: #fff;
}

.home_click .content .text_container p {
  color: #fff;
}

.home_click .content::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 4;
}

.home_click .content#for-women::after {
  background: #e974ae;
  opacity: 0.2;
}

.home_click .content#for-women .text_container::-webkit-scrollbar-thumb {
  background-color: #e974ae;
}

.home_click .content#for-men .text_container::-webkit-scrollbar-thumb {
  background-color: #149a9a;
}

.home_click .content#for-men::after {
  background: #149a9a;
  opacity: 0.2;
}

.home_click .content .image_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
}

.home_click .content .treat_list {
  position: relative;
  z-index: 3;
}

.home_click .content .treat_list .list {
  position: relative;
  padding: 40px 0px;
  border-bottom: 1px solid #fff;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.home_click .content .treat_list .list:hover a {
  padding-left: 40px;
}

.home_click .content .treat_list .list:last-child {
  border-bottom: 0;
}

.home_click .content .treat_list .list a {
  font-size: 24px;
  color: #fff;
  font-family: "Ivy Mode";
  position: relative;
  z-index: 2;
  margin: 5px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.home_click .content .treat_list .list img {
  position: absolute;
  max-width: 275px;
  opacity: 0;
  z-index: 1;
  top: -10%;
  left: 30%;
  z-index: -10;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}

@media screen and (max-width: 800px) {
  header {
    display: none;
  }
  .home_click .content {
    padding: 10px;
  }
  .intro .intro_text {
    padding-left: 0;
    margin-top: 30px;
  }
  section.div_anim {
    display: none;
  }
  .experiments::after {
    width: 100%;
  }
  .experiments .exp_text {
    padding-left: 0;
    margin-top: 40px;
  }
  .clients .clients_slider {
    padding: 0;
  }
  .clients .clients_slider .swiper-button-next,
  .clients .clients_slider .swiper-button-prev {
    display: none;
  }
  .clients .clients_slider .swiper-slide .img {
    width: 100%;
    margin-top: 30px;
  }
  .clients .clients_slider .swiper-slide .img img {
    width: 100%;
  }
  .clients .clients_slider .swiper-slide .text {
    width: 100%;
    margin: 50px 0;
  }
  .blogs .blog_card {
    margin-bottom: 30px;
  }
  .blogs .blog_card .image_container img {
    height: 275px;
  }
  footer .footer_img {
    text-align: center;
  }
  footer .newsletter input {
    margin-bottom: 40px;
    max-width: 360px;
  }
  footer .locations .loc_card {
    width: 100%;
    margin-bottom: 40px;
  }
}

.about_intro {
  padding: 80px 0;
  text-align: center;
}

.about_intro label {
  color: #149a9a;
  text-transform: uppercase;
}

.about_intro h3 {
  margin: 10px auto 20px;
  width: 770px;
  max-width: 100%;
}

.about_intro p {
  width: 770px;
  max-width: 100%;
  margin: 0 auto 15px;
}

.mission {
  padding: 20px 0 100px;
}

.mission .row {
  margin-left: -50px;
  margin-right: -50px;
}

.mission .row .col-md-4:nth-child(even) {
  margin-top: 200px;
}

.mission .mcard {
  padding: 40px;
}

.mission .mcard h4 {
  font-size: 32px;
}

.mission .mcard figure {
  margin-bottom: 40px;
}

.mission .mcard img {
  width: 100%;
}

.team {
  padding: 80px 0;
  margin-bottom: 150px;
}

.team .team_head {
  text-align: center;
  margin: 0 auto 100px;
  width: 550px;
  max-width: 100%;
}

.team .team_head label {
  color: #149a9a;
  text-transform: uppercase;
}

.team .team_head h3 {
  font-size: 44px;
  margin-bottom: 25px;
}

.team .team_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.team .team_card:hover {
  cursor: pointer;
}

.team .team_card:hover .text a {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.team .team_card .team_img {
  width: 50%;
  text-align: right;
}

.team .team_card .team_img img {
  width: 90%;
}

.team .team_card .text {
  width: 50%;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: 300;
}

.team .team_card .text ul li {
  padding-left: 25px;
  position: relative;
  margin-bottom: 5px;
}

.team .team_card .text ul li:hover::after {
  background: #e974ae;
}

.team .team_card .text ul li::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #e974ae;
  left: 0;
  top: 7px;
}

.team .team_card .text label {
  color: #149a9a;
}

.team .team_card .text h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.team .team_card .text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.team .team_card .text a span {
  color: #e974ae;
  text-transform: uppercase;
}

.team .team_card .text a img {
  width: 65px;
  height: 65px;
  -o-object-fit: contain;
     object-fit: contain;
}

.team .team_card img {
  width: 100%;
  height: 478px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about_big {
  position: relative;
  height: 550px;
  margin-bottom: 70px;
}

.about_big .image_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.about_big .image_background::after {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.about_big .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.about_big .text h3 {
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.about_big .img {
  position: absolute;
  z-index: 1;
  bottom: -70px;
}

.about_big .img img {
  width: 450px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.choose {
  padding-bottom: 100px;
  overflow: hidden;
}

.choose .text {
  padding-right: 40px;
}

.choose .text h3 {
  margin-bottom: 40px;
}

.choose .img.image_container {
  overflow: visible;
}

.choose .img img {
  width: 60vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.services_listing {
  padding: 100px 0;
}

.services_listing.small_box .other_service {
  margin-top: 50px;
}

.services_listing.small_box .other_service .service_card {
  margin: 15px 0;
}

.services_listing.small_box .other_service .service_card .text_card {
  padding: 15px;
  text-align: center;
}

.services_listing.small_box .other_service .service_card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services_listing .row {
  margin-left: -15px;
  margin-right: -15px;
}

.services_listing .service_card {
  margin: 30px 15px;
}

.services_listing .service_card img {
  width: 100%;
  margin-bottom: 20px;
}

.services_listing .other_service {
  margin-top: 50px;
}

.services_listing .other_service .service_card img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service_card {
  position: relative;
}

.service_card:hover .text_card h4,
.service_card:hover .text_card p {
  color: #fff;
}

.service_card:hover .text_card::before {
  height: 100%;
}

.service_card .text_card {
  background: #fff;
  width: 90%;
  margin: -60px auto 0;
  z-index: 2;
  position: relative;
  padding: 30px;
}

.service_card .text_card::before {
  position: absolute;
  width: 100%;
  height: 0%;
  content: "";
  background: #e974ae;
  top: 0;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: -1;
}

.blogs_lists {
  padding: 100px 0;
}

.blogs_lists .row {
  margin-right: -15px;
  margin-left: -15px;
}

.blogs_lists .blog_list_card {
  padding: 15px;
  margin: 15px 0;
}

.blogs_lists .blog_list_card a h4 {
  color: #1d1c1b;
}

.blogs_lists .blog_list_card a:hover {
  color: initial;
}

.blogs_lists .blog_list_card a:hover h4 {
  color: #e974ae;
}

.blogs_lists .blog_list_card.flex_list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blogs_lists .blog_list_card.flex_list a .img {
  width: 30%;
}

.blogs_lists .blog_list_card.flex_list a .img img {
  height: 215px;
}

.blogs_lists .blog_list_card.flex_list a .img .date {
  right: 0;
  bottom: 0;
}

.blogs_lists .blog_list_card.flex_list a .desc {
  width: 70%;
  padding: 40px;
}

.blogs_lists .blog_list_card .img {
  position: relative;
}

.blogs_lists .blog_list_card .img .date {
  position: absolute;
  background: #e974ae;
  padding: 10px 25px;
  color: #fff;
  text-align: center;
  right: 40px;
  bottom: -30px;
}

.blogs_lists .blog_list_card .img .date label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 0;
}

.blogs_lists .blog_list_card .img .date span {
  font-size: 22px;
}

.blogs_lists .blog_list_card img {
  width: 100%;
  height: 435px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs_lists .blog_list_card .desc {
  padding: 40px 0;
  width: 90%;
}

.blogs_lists .blog_list_card .desc h4 {
  display: -webkit-box;
  max-width: 100%;
  height: 58px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.blogs_lists .blog_list_card .desc p {
  display: -webkit-box;
  max-width: 100%;
  height: 50px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blogs_lists .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.blogs_lists .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogs_lists .pagination ul li {
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs_lists .pagination ul li a {
  font-size: 22px;
}

.blogs_lists .pagination ul li.active a {
  color: #e974ae;
}

.blog_detail_section {
  background: #f9f3ec9e;
}

.blog_detail {
  background: #fff;
  max-width: 960px;
  margin: auto;
  padding: 40px;
  margin-top: -130px;
  z-index: 2;
  position: relative;
}

.blog_detail .main {
  margin-bottom: 40px;
}

.blog_detail .main p {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_detail .main p ion-icon {
  margin-right: 8px;
}

.blog_detail .main h3 {
  font-size: 34px;
}

.blog_detail .content h1,
.blog_detail .content h2,
.blog_detail .content h3,
.blog_detail .content h4,
.blog_detail .content h5,
.blog_detail .content h6 {
  margin: 20px 0;
}

.blog_detail .content img {
  max-width: 100%;
  margin: 30px 0;
}

.blog_detail .content a {
  color: #149a9a;
  text-decoration: underline;
}

.blog_detail .content blockquote {
  font-family: "Ivy Mode";
  font-size: 26px;
  margin: 30px 0;
  font-style: italic;
}

.contact_detail {
  margin: 80px 0;
}

.contact_detail .location {
  margin-bottom: 80px;
}

.contact_detail h4 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact_detail .contact_img img {
  width: 100%;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact_detail .c_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_detail .c_card p {
  max-width: 330px;
}

.contact_detail .c_card a:hover {
  color: #149a9a;
}

.contact_detail .c_card ion-icon {
  margin-top: 5px;
  margin-right: 10px;
}

.treatment_int {
  padding: 100px 0;
}

.treatment_int .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 820px;
  max-width: 100%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.treatment_int .wrap .list {
  width: 35%;
}

.treatment_int .wrap .list ul li {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  padding-left: 30px;
  position: relative;
}

.treatment_int .wrap .list ul li::after {
  position: absolute;
  content: "";
  background: url("../images/tick.svg");
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  background-position: center;
  background-position: center;
}

.treatment_int .wrap .list ul li p {
  margin-bottom: 0;
}

.treatment_int .wrap .text {
  width: 65%;
}

.treatment_int .schedule_btn {
  text-align: center;
  padding-top: 60px;
}

.treatment_int .schedule_btn a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 52px;
  background: #e974ae;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  text-transform: uppercase;
}

.treatment_int .schedule_btn a i {
  margin-left: 12px;
}

.faqs {
  margin: 0 auto;
  padding-left: 50px;
}

.faqs .faq_head {
  text-align: center;
  padding-bottom: 20px;
}

.faqs .faq_head h3 em {
  display: block;
}

.faqs .card {
  border: 0;
  padding: 20px 0;
  border-bottom: 1px solid #cdcdcc !important;
}

.faqs .card:last-child {
  border-bottom: 0 !important;
}

.faqs .card-body {
  padding: 15px 0;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}

.faqs .card-header {
  background: transparent;
  border: 0;
  padding: 0;
}

.faqs .card-header h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faqs .card-header h2 i {
  font-size: 20px;
  margin-left: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faqs .card-header button {
  color: #1d1c1b;
  font-size: 21px;
  padding: 0;
}

.faqs .card-header button:focus {
  -webkit-box-shadow: 0 !important;
          box-shadow: 0 !important;
  text-decoration: none;
}

.faqs .card-header button:hover {
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.treatment_photo {
  padding: 80px 0;
}

.treatment_photo #comparison {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}

.treatment_photo #comparison:hover .overlay_label {
  opacity: 1;
  visibility: visible;
}

.treatment_photo #comparison .overlay_label {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.treatment_photo #comparison .overlay_label .label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  width: 80px;
  height: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 4px;
  opacity: 0.7;
  font-size: 12px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.3);
}

.treatment_photo #comparison .overlay_label .label.before {
  left: 20px;
}

.treatment_photo #comparison .overlay_label .label.after {
  right: 20px;
}

.treatment_photo figure {
  position: absolute;
  background-size: cover;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.treatment_photo #divisor {
  background-size: cover;
  position: absolute;
  width: 50%;
  -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  bottom: 0;
  height: 100%;
}

.treatment_photo #divisor::before, .treatment_photo #divisor::after {
  content: "";
  position: absolute;
  right: -2px;
  width: 4px;
  height: calc(50% - 25px);
  background: white;
  z-index: 3;
}

.treatment_photo #divisor::before {
  top: 0;
  -webkit-box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.3);
}

.treatment_photo #divisor::after {
  bottom: 0;
  -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
}

.treatment_photo #handle {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

.treatment_photo #handle::before, .treatment_photo #handle::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}

.treatment_photo #handle::before {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}

.treatment_photo #handle::after {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}

.treatment_photo #slider {
  cursor: pointer;
}

.treatment_photo input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 50%;
  left: -25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  width: calc(100% + 50px);
  z-index: 2;
}

.treatment_photo input[type="range"]:focus, .treatment_photo input[type="range"]:active {
  border: none;
  outline: none;
}

.treatment_photo input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid white;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}

.treatment_photo input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 15px;
  width: 100%;
  background-color: transparent;
  position: relative;
  outline: none;
}

.treatment_gallery {
  padding: 50px 0;
}

.treatment_gallery .gallery_slider .swiper-slide {
  text-align: center;
}

.treatment_gallery .gallery_slider img {
  width: 550px;
  max-width: 100%;
  margin: auto;
}

.treatment_gallery .swiper-pagination {
  text-align: right;
  font-family: "Ivy Mode";
}

.listing_new .wrap {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
}

.listing_new .card {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cdcdcc;
  padding-bottom: 80px;
}

.listing_new .card:hover h3 {
  color: #e974ae;
}

.listing_new .card h3 {
  color: #1d1c1b;
  font-weight: 200;
}

.listing_new .card .links {
  padding-left: 40px;
  width: 60%;
}

.listing_new .card .links .sn {
  font-weight: 100;
  letter-spacing: 4px;
}

.listing_new .card .links .subs:hover a {
  opacity: 0.5;
}

.listing_new .card .links .subs:hover .divide {
  opacity: 0.5;
}

.listing_new .card .links .subs a:hover {
  opacity: 1 !important;
}

.listing_new .card .links .divide {
  margin: 0 10px;
}

.listing_new .card .links a {
  font-size: 22px;
  font-weight: 300;
  -webkit-transition: 0;
  transition: 0;
  position: relative;
}

.listing_new .card .links a:first-child {
  margin-left: 0;
}

.listing_new .card .links a:hover {
  color: #e974ae;
}

.listing_new .card .image_container {
  width: 40%;
}

.listing_new .card .image_container img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */